@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/podcasts-bg.png');
    height: 500px;
    width: 100vw;
    font-family: Roboto;
    padding: 30px;


}

.heading {
    color: white;
    font-size: 70px;
}

.cards {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.icon {
    height: 250px;
    width: 300px;
    margin-left: 30px;
}

.puri-top {
    background-color: #151765;
    height: 30vh;
    padding: 35px;
    color: white;
}

.icon2 {
    height: 150px;
    width: 200px;
    margin: 20px;
}

.parahgraph {
    font-size: 20px;
}