@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    text-align: center;
    font-family: Roboto;
    background-color: #875fc0;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.score {
    text-align: right;
    color: white;
    font-size: 25px;
}

.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    margin: 20px;
}

.heading-top {
    font-size: 37px;
}

.parah-top {
    font-size: 22px;
}

.image {
    height: 200px;
}

.button1 {
    background-color: #875fc0;
    padding: 15px;
    text-align: left;
    height: 70px;
    border-color: black;
    color: white;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    width: 390px;
}

.button {
    padding: 15px;
    text-align: left;
    height: 70px;
    width: 390px;
    border-color: black;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
}

.button2 {
    background-color: #fbaf00;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin: 10px;
}

.unordered-list {
    list-style-type: none;
}